@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Jacques+Francois+Shadow);
@import "constants-type.less";

.pager, .pager li {
	background: 0 none!important;
	border: 0 none!important;
	border-radius: 0!important;
}

.pager li.pager-previous a {
	width: 60px;
}

.pager-next, .pager-last, .pager li {
			padding: 10px!important;
	a {
		background: 0 none!important;
		border: 0 none!important;
	}
}

.view-recipessay-blog .pager {
	width: 600px!important;
}

ul.pager {
	.pager-current {
		border: 1px solid black!important;
		color: black;
	}
}

html {
	body {
	.block-recipessay-favs-block.block-views-recipessay-favs-block {
	width:280px;
	display:block;
	background-color: rgba(255, 255, 255, 255);
	/* border: 2px solid #d66a6a; */
	.view-content {
					width:240px;
					display:block;
					margin: 0 auto;
				}
	h2 {
		.h2;
	}
}
}
}

#mini-panel-recipessay_about {
	h2 {
		.h2;
	}
}

p, span, li {
	.body-text;
}

.container-12 .grid-6 {
	width:680px!important;
}

#page {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background: url(img/marble.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

#region-sidebar-first {
	width:280px!important;
}

.region-branding-inner {
  width: 100%;
	background-color: rgba(255, 255, 255, 255);
	margin-bottom:20px;
	border-bottom: 11px solid black;
	border-style: double;
	/* border: 2px solid #d66a6a; */
}

#region-content {
	width: 640px!important;
}

.view-id-recipessay_blog.view-display-id-block_1 {
	ul {
		width: 640px;
		display: block;
		margin: 0 auto
		}
	li {
		margin: 0;
		/* border: 2px solid #d66a6a; */
		padding: 20px;
		float:left;
		background-color: rgba(255, 255, 255, 255);
		}
}

.region-inner.region-content-inner {
	float:left;
}

#block-panels-mini-recipessay-branding {
	width: 710px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#page-title {
	display:none;
}

html {
	body {
		#page {
			h2 {
				.h2-two;
			a {
				font-weight: normal;
			}
			}
			}
		}
	}


body {
	background-color: #f0f0e6;
	font-size: 16px;
	a {
		font-weight: bold;
	}
}



#favourites_wrapper {
	margin-bottom: 20px;
	text-align: center;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

.node-blog-entry.view-mode-full {
	width: 640px;
	float:left;
	margin-left:10px;
	background-color: rgba(255, 255, 255, 255);
	/* border: 2px solid #d66a6a; */
	.field-name-field-blog-image {
		padding-bottom: 20px;}
}

.breadcrumb {
	display:none;
}

.view-recipessay-blog.view-id-recipessay_blog {
.views-field-view-node {
	a {
		float: right;
		&:hover {
			opacity: 0.5;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
		}
	}
}
}


.field-name-field-blog-image {
	width: 600px;
	margin: 0 auto;
}
.field-name-title, .field-name-blog-image, .field-name-post-date, .field-name-author, .field-name-body, .field-name-sharing, #comments {
	float:left!important;
	width: 600px;
	padding-left:20px;
}

.field-name-author {
	padding-left: 20px;
	font-style: italic;
}

.block-recipessay-about {
	/* border: 2px solid #d66a6a; */
	margin-bottom: 20px;
	.content.clearfix {
		background-color: rgba(255, 255, 255, 255); }
.pane-content {
	width: 240px;
	margin: 0 auto;
	padding: 20px 0;
} }


.block-panels-mini-recipessay-contact-block {
	width: 640px;
	background-color: rgba(255, 255, 255, 255);
	/* border: 2px solid #d66a6a; */
	.content {
		width: 600px;
		margin: 0 auto;
		padding-bottom: 20px;}
}


#specials {
	width: 520px;
	margin: 0 auto;
	padding-bottom:20px;
}

#block-panels-mini-recipessay-specials {
	background-color: rgba(255, 255, 255, 255);
	padding: 20px 0 20px 0;

	img {
		/* border: 2px solid #d66a6a; */ }
		.lemon, .worthit {
			margin-right: 40px;
		}
}

#block-views-recipessay-blog-block-2, #block-views-recipessay-blog-block-3 {
	background-color: rgba(255, 255, 255, 255);
	padding-top:20px;
	li {
		padding-top:20px; }

}

.container-12 {
	background-color: white;
}

.bordertop {
	width: 600px;
	display: block;
	margin: 0 auto;
}

.blogborder {
	padding-top: 20px;
}

.sideborderdots {
	padding-bottom: 20px;
}


/* COMMENTS */

.comment-form {
	.body-text;
	.form-item-subject {
		display: none;
	}
	.fieldset-wrapper {
		p, .tips li {
			font-size: 10px;
		}
	}
}


/* author date */

.field-name-post-date, .field-name-author {
	.body-text;
	font-size: 13px;
}
