/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
                   
/* TODO: include in mixins.less */
@image-replace(@display:inline-block) {
	text-indent:-9999em;
	display:@display;
}


.recipe, 
.essay {
	position:absolute;
	background-repeat:no-repeat;
	overflow:hidden;   
	background-color:white;
	@image-replace;
}                                         

.recipe {
	background-image:url("recipe.png");   
	height: 67px; /* measured */
    width: 187px; /* measured */

  &:hover {
	z-index:1000;   
	color:#666666;  
	background-image:url("recipe2.png");
	}
}                 

.essay {
	background-image:url("essay.png");  
	height: 47px; /* measured */
    width: 138px; /* measured */
	margin-top:17px; /* measured */
	margin-left:160px; /* measured */
	
	&:hover {
		z-index:1000;
		background-image:url("essay2.png");
	}
}              

.brandingtexthover {
	display: block;
    margin: 0 auto;
    width: 300px;
	height: 80px;      
	padding-top:20px;
}                                     

.branding-data {
	display:none;
}         

.block-title {
	display:none;
}

.block-block-1 .content {
	background-color:white;
}        

#region-menu {
	display:none;
}